@using BotafeMVC.Common
@model BotafeMVC.Application.ViewModels.Event.ListEventForListVm
@{
    ViewData["Title"] = "Index";
}

<h1>Wydarzenia</h1>

<p>
    <a asp-action="AddEvent" class="btn btn-primary">+ Dodaj wydarzenie</a>
</p>
<form asp-action="Index" asp-asp-controller="Event" method="post" id="eventList">
    <div class="row col-4">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" class="col-7" style="margin:5px" />
        <input type="submit" value="Wyszukaj" class="col-3" style="margin:5px"/>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(t => t.Events[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(t => t.Events[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(t => t.Events[0].EndDate)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Events) {
           
                var style = "";
                @if (item.CurrentUserIsEnrolled) style = $"style=background-color:{StyleSettings.Color.TableRowBackgroundColorGreen}";
           
                <tr @style>
                    <td>
                        @Html.HiddenFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    @if (User.IsInRole(ServiceConstants.Roles.Admin) || User.IsInRole(ServiceConstants.Roles.SuperUser))
                    {
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id}) |
                            @Html.ActionLink("Detale", "EventDetails", new { id = item.Id }) |
                            @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @* @if (!item.CurrentUserIsEnrolled)
                    { *@
                        <td>
                            @Html.ActionLink("Dołącz", "Enroll", new { id = item.Id })
                        </td>
                    @* }
                    else
                    {
                        <td></td>
                    } *@
                </tr>
    }
        </tbody>
    </table>
    <div class="row col-sm-1" >
        <table>
            <tr>
                @for(int i=1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if(i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)" class="btn btn-secondary">@i</a>
                        }
                        else
                        {
                            <span class="btn btn-primary">@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="@Model.PageSize"/>
    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms.namedItem("eventList").submit();
        }    
    </script>
}